.container {
    height: 300px;
    display: grid;
    place-items: center;
}

#tituloCambioPassword {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#inputOldPassword,
#inputNewPassword {
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: #c4eef3;
    color: white;
    border: none;
}

.password-field {
    position: relative;
    margin-top: 20px;
}

.password-field input {
    width: 100%;
}

.toggle-password-cc {
    position: absolute;
    right: 10px;
    top: 20%;
    transform: translateY(-50%);
    background: none;
    background-color: rgb(255, 102, 0);
    border: none;
    color: white;
    cursor: pointer;
}

#btnEditar {
    margin-top: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(255, 102, 0)
}

#btnHome {
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(255, 102, 0);
    color: white;
    cursor: pointer;
}